@import "tailwindcss";

@theme {
  --color-primary: #021a32;
  --color-primary-foreground: #ffffff;
  
  --color-secondary: #a3e635;
  --color-secondary-foreground: #021a32;

  --color-accent: #94a3b8;
  
  --color-background: #f8fafc;
  --color-foreground: #0f172a;
  
  --radius-lg: 0.5rem;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Inter', system-ui, sans-serif;
}